.lr-form-card {
    background-image: linear-gradient(to bottom right, #444444, #282828);
    background-size: cover;
    text-shadow: #444 0 1px 1px;
    color: #FFFFFF;
}

.form-row{
    margin-top: 2rem !important;
}

.card-header-custom{
    background-color: rgba(220, 20, 60, 0.6) !important;
    font-weight: bold;
    font-style: unset;
}
