.second-row {
  &.transactions-table {
    height: 80%;
  }
}

section.transactions-table {
  table {
    tr {
      th:nth-child(2),
      td:nth-child(2) {
        flex-grow: 0.8;
      }
      th:nth-child(3),
      td:nth-child(3) {
        flex-grow: 1;
      }
      th:nth-child(4),
      td:nth-child(4) {
        flex-grow: 1.3;
      }
    }
  }
}
